@font-face {
    font-family: "passion-one-regular";
    src: url(../fonts/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
    font-family: "passion-one-bold";
    src: url(../fonts/Passion_One/PassionOne-Bold.ttf);
}

@font-face {
    font-family: "passion-one-black";
    src: url(../fonts/Passion_One/PassionOne-Black.ttf);
}

@font-face {
    font-family: "londrina-shadow";
    src: url(../fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf);
}

body
{
    background-color: #19232F;
    margin: 0;
}

header
{
    display: flex;
    justify-content: space-between;
    font-family: "passion-one-regular";
    font-size: 23px;
    padding: 2vw;
}

.nav-buttons ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2vw;
    margin: 0;
}

header a
{
    text-decoration: none;
    color: black;
    padding-block: 1vh;
    padding-inline: 1.5vw;
    background-color: #514460;
    box-shadow: 0 6px 14px rgba(0,0,0,0.35);
}

.log-out
{
    background-color: #19232F;
    color: #514460;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    padding: 0;
}

.hero
{
    padding: 2vw;
    margin-bottom: 10vh;
}

.top-corner-lines
{
    display: flex;
    justify-content: space-between;
}

.left-horizontal-top-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-left: 0.5vw;
}

.left-vertical-top-line
{
    border-left: 2px solid #514460;
    height: 75px;
    margin-top: 0.5vw;
}

.right-horizontal-top-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-right: 0.5vw;
}

.right-vertical-top-line
{
    border-right: 2px solid #514460;
    height: 75px;
    margin-top: 0.5vw;
}

.hero-text
{
    font-family: "londrina-shadow";
    color: #514460;
    text-align: center;
    font-size: 320px;
    font-weight: 200;
    position: relative;
    margin: 0;
    margin-top: 4vh;
}

.hero-image
{
    width: 27vw;
    height: auto;
    position: absolute;
    top: 15vh;
    left: 37vw;
}

.bottom-corner-lines
{
    display: flex;
    justify-content: space-between;
    margin-top: 13vh;
}

.left-vertical-bottom-line
{
    border-left: 2px solid #514460;
    height: 75px;
    margin-bottom: 0.5vw;
}

.left-horizontal-bottom-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-left: 0.5vw;
}

.right-vertical-bottom-line
{
    border-right: 2px solid #514460;
    height: 75px;
    margin-bottom: 0.5vw;
}

.right-horizontal-bottom-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-right: 0.5vw;
}

.who-am-i-box
{
    padding: 2vw;
    background-color: #514460;
}

.who-am-i
{
    font-family: "londrina-shadow";
    color: black;
    font-size: 350px;
    font-weight: 200;
    margin: 0;
    margin-top: 7vh;
}

.who-am-i-text
{
    font-family: "passion-one-regular";
    font-size: 40px;
    width: 60%;
    margin-top: -1vh;
}

.github-logo
{
    width: 4vw;
    height: auto;
}

.second-pic-of-me
{
    width: 21vw;
    height: auto;
    position: absolute;
    top: 118vh;
    left: 75vw;
}

.my-skills-box
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #514460;
    font-family: "passion-one-regular";
    padding: 2vw;
}

.my-skills-items
{
    display: flex;
    justify-content: space-between;
}

.my-skills-text
{
    width: 45vw;
    margin-top: 5vh;
}

.my-skills-text h1
{
    font-size: 50px;
    font-family: "passion-one-bold";
}

.my-skills-text p 
{
    font-size: 30px;
}

.professional-skills-box
{
    background-color: #514460;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    padding: 2vw;
    height: 25vh;
    max-width: 15vw;
    border-radius: 2.5vw;
    box-shadow: 0 4px 12px 10px rgba(0,0,0,0.25);
    margin-top: 30vh;
}

.professional-skills-box a
{
    text-decoration: none;
    color: black;   
}

.skills-boxes
{
    display: flex;
    flex-direction: column;
    gap: 12vh;
    margin-top: 10vh;
}

.skills-boxes a
{
    text-decoration: none;
    color: black;   
}

.documentation-box
{
    background-color: #514460;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    padding: 2vw;
    height: 25vh;
    max-width: 15vw;
    border-radius: 2.5vw;
    box-shadow: 0 4px 12px 10px rgba(0,0,0,0.25);
}

.projects-box
{
    background-color: #514460;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    padding: 2vw;
    height: 25vh;
    max-width: 15vw;
    border-radius: 2.5vw;
    box-shadow: 0 4px 12px 10px rgba(0,0,0,0.25);
}

.my-skills-header
{
    font-family: "londrina-shadow";
    font-size: 250px;
    margin: 0;
    margin-top: -15vh;
    font-weight: 200;
    margin-bottom: -5vh;
}
