@font-face {
    font-family: "passion-one-regular";
    src: url(../fonts/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
    font-family: "passion-one-bold";
    src: url(../fonts/Passion_One/PassionOne-Bold.ttf);
}

@font-face {
    font-family: "passion-one-black";
    src: url(../fonts/Passion_One/PassionOne-Black.ttf);
}

@font-face {
    font-family: "londrina-shadow";
    src: url(../fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf);
}

body
{
    background-color: #19232F;
}

header
{
    display: flex;
    justify-content: space-between;
    font-family: "passion-one-regular";
    font-size: 23px;
    padding: 1.5vw;
}

.nav-buttons ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2vw;
    margin: 0;
}

header a
{
    text-decoration: none;
    color: black;
    padding-block: 1vh;
    padding-inline: 1.5vw;
    background-color: #514460;
    box-shadow: 0 6px 14px rgba(0,0,0,0.35);
}

.hero
{
    padding: 1.5vw;
}

.top-corner-lines
{
    display: flex;
    justify-content: space-between;
}

.left-horizontal-top-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-left: 0.5vw;
}

.left-vertical-top-line
{
    border-left: 2px solid #514460;
    height: 75px;
    margin-top: 0.5vw;
}

.right-horizontal-top-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-right: 0.5vw;
}

.right-vertical-top-line
{
    border-right: 2px solid #514460;
    height: 75px;
    margin-top: 0.5vw;
}

.hero-text
{
    font-family: "londrina-shadow";
    color: #514460;
    text-align: center;
    font-size: 320px;
    font-weight: 200;
    position: relative;
    margin: 0;
    margin-top: 4vh;
}

.hero-image
{
    width: 27vw;
    height: auto;
    position: absolute;
    top: 15vh;
    left: 37vw;
}

.bottom-corner-lines
{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.left-vertical-bottom-line
{
    border-left: 2px solid #514460;
    height: 75px;
    margin-bottom: 0.5vw;
}

.left-horizontal-bottom-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-left: 0.5vw;
}

.right-vertical-bottom-line
{
    border-right: 2px solid #514460;
    height: 75px;
    margin-bottom: 0.5vw;
}

.right-horizontal-bottom-line
{
    border-top: 2px solid #514460;
    width: 75px;
    margin-right: 0.5vw;
}
