@font-face {
    font-family: "passion-one-regular";
    src: url(../fonts/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
    font-family: "passion-one-bold";
    src: url(../fonts/Passion_One/PassionOne-Bold.ttf);
}

@font-face {
    font-family: "passion-one-black";
    src: url(../fonts/Passion_One/PassionOne-Black.ttf);
}

body
{
    background: linear-gradient(
    to bottom,
    #19232F 0%,   /* red at 0% */
    #514460 50%,  /* green at 50% */
    #042140 100%  /* blue at 100% */
  );
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  font-family: "passion-one-regular";
}

.main-box
{
    background: linear-gradient(
        to bottom,
        rgba(81, 68, 96, 0.6) 0%,
        rgba(81, 68, 96, 0.4) 50%,
        rgba(25, 35, 47, 0.2) 100%
    );
    padding-bottom: 10vh;
    padding-top: 25vh;
    box-shadow: 0px 4px 4px 1px #19232F;
    margin-top: 13vh;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 7vw;
}

.main-box form
{
    display: flex;
    flex-direction: column;
}

.main-box img
{
    width: 25vw;
    height: auto;
    position: absolute;
    top: 1.2vh;
}

input
{
    background-color: rgba(25, 35, 47, 0.3);
    font-family: "passion-one-regular";
    margin-block: 1vh;
    height: 5vh;
    width: 20vw;
    border: 0;
    border-radius: 0.3vw;
    font-size: 27px;
    padding-left: 0.5vw;
    padding: 0.7vw;
    color: rgba(255,255,255,0.5);
}

::placeholder
{
    color: rgba(255,255,255,0.5);
}

.button
{
    width: 21.5vw;
    height: 7vh;
    margin-top: 3vh;
    background: linear-gradient(
        to right,
        rgba(81, 68, 96, 0.7) 0%,
        rgba(81, 68, 96, 0.4) 50%,
        rgba(25, 35, 47, 0.2) 100%
    );
    box-shadow: 0px 4px 10px 1px #19232F;
    cursor: pointer;
}

.name-box
{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.name-box input
{
    width: 8.8vw;
}
